build/
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

*.user
*.pro.user
.vs/
.idea/
GravityS.01998AFE/
.qtcreator/
.clang-format
*.sln
*.vcxproj
*.filters
*.ui
*.slnx
*.qrc

*.tmp
*.log

*.exe
*.dll
*.so
*.dylib
*.a
*.lib
x64/

Thumbs.db
Desktop.ini